.wrapper {
  background-color: lightgray;
  height: 250px;
  margin: 25px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  & form {
    padding: 25px;
    width: 100%;
  }
}

#mybtn:link,
#mybtn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.3s;
  position: relative;
}

#mybtn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  color: white;
  letter-spacing: 0.1em;
  transition: 0.3s;
}

#mybtn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  h3 {
    font-size: 22px;
  }
}
