.news-component-left {
  display: flex;
  justify-content: space-between;
  margin: 55px 0px;
}
.write-up-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 55%;
  & h1 {
    text-align: right;
  }
  span {
    text-align: right;
    line-height: 1.6em;
    letter-spacing: 0.2em;
  }
}

.news-image-left {
  flex-direction: column;
  width: 40%;
  margin: 10px 0px;
}

@media (max-width: 768px) {
  .news-component-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: center;
    height: 95%;
    margin: 5px 0px;

    .write-up-left {
      display: flex;
      width: 100%;
      margin-top: 25px;

      & h1 {
        text-align: center;
      }

      & span {
        width: 100%;
        line-height: 1.6em;
        text-align: center;
        letter-spacing: 0.2em;
      }
    }

    .news-image-left {
      order: 5;
      display: flex;
      width: 100%;
      max-height: 95%;
      // margin-bottom: 10px;
    }
  }
}

@media (max-height: 450px) {
  .news-component-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: center;
    // justify-content: space-between;
    height: 95%;
    margin: 5px 0px;

    .write-up-left {
      display: flex;
      // height: 400px;
      width: 100%;
      margin-top: 25px;

      & h1 {
        text-align: center;
      }

      & span {
        width: 100%;
        text-align: left;
      }
    }

    .news-image-left {
      order: 5;
      display: flex;
      width: 100%;
      max-height: 95%;
      // margin-bottom: 10px;
    }
  }
}
