.contest-container {
  display: flex;
  flex-direction: column;
  height: 75vh;
  // width: 100vw;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  background-image: Url("../assets/contest2.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px 0px;
  color: white;
  text-transform: capitalize;
}

@media (max-width: 736px) {
  .contest-container {
    background-size: 50vh 140vw;
  }
}
