.wrapper-lsc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;

  margin: 30px 0px;
  padding: 100px;
  background-color: lightgrey;
  border-radius: 20px;

  #order1 {
    order: 1;
  }

  h3 {
    font-size: 20px;
    line-height: 1.8em;
    letter-spacing: 0.2em;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    border: 1px solid lightgray;
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: -5px 15px 20px rgba(134, 129, 129, 0.7);
  }

  .media-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 35px;
  }
  .contact-info {
    margin-top: 30px;
    transition: all 0.2s;

    li:first-child {
      margin-left: 0;
    }

    li {
      display: inline-flex;
      align-items: baseline;
      justify-content: center;
      transition: all 0.3s;
      list-style-type: none;
      margin: 0 2em;
      font-size: 20px;
      // border: 1px solid rgba(177, 176, 172, 0.568);
      border-radius: 15px;
      padding: 10px;
      background: rgb(0, 0, 0);
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(177, 176, 172, 0.424) 100%
      );
    }

    // li:hover {
    //   border-top: none;
    // }
  }

  .hover {
    // border-top: none;
    transition: all 0.2s;
    box-shadow: -5px 15px 20px rgba(134, 129, 129, 0.6);
  }

  .hover:hover {
    transform: translateY(-4px);
    box-shadow: 0px 11px 11px rgba(253, 4, 4, 0.466);
    // border-top: none;

    a {
      border-top: none;
      color: red;
    }
  }

  .contact-info {
    transform: translateY(-10px);
  }

  a:link,
  a:visited {
    color: black;
    text-decoration: none;
  }

  a {
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-top: none;
  }

  .image {
    width: 75%;
    margin: 2em;
    border-radius: 25px;
    transition: all 0.4s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    transform-origin: bottom;
    animation-name: bounce;
    border: rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  }
  .image:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
  }

  iframe {
    margin: 10px;
    border-radius: 15px;
    width: 560px;
    height: 315px;
  }

  .icons-contact {
    margin-bottom: 5px;
  }
}

@media (max-width: 736px) {
  .wrapper-lsc {
    font-size: 14px;
    padding: 10px;
    align-items: end;
    .image {
      width: 100%;
      border-radius: 25px;
      border: 1px solid rgba(0, 0, 0, 0.4);
    }
    .contact-info li {
      display: flex;
      flex-direction: column;
      font-size: 20px;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
      margin: 5px 0;
    }
    .icons-contact {
      margin-bottom: 0;
    }
    h3 {
      font-size: 16px;
    }

    a {
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: center;
      justify-content: center;
      font-size: 15px;
    }

    .icons-contact {
      margin-bottom: 0px;
    }
    .media-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      iframe {
        margin: 10px;
        border-radius: 15px;
        width: 60vw;
        height: 40vh;
      }
    }

    body {
      padding: 25px;
    }

    ul {
      display: flex;
      flex-direction: column;
      margin: 5px;
      padding: 0;
    }
  }
}

// landscape iphone
@media (max-height: 450px) {
  .wrapper-lsc {
    .contact-items-list {
      display: flex;
      flex-direction: row;
      margin: 0px 5px;

      li {
        margin: 0px 5px;
      }
    }

    a {
      display: flex;
      flex-direction: column;
    }

    li.hover {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-35px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
