.wrapper-lsc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 30px 0px;
  padding: 30px;
  background-color: lightgrey;

  #order1 {
    order: 1;
  }

  h3 {
    font-size: 20px;
    line-height: 1.8em;
    letter-spacing: 0.2em;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // margin: 10px;
    margin-top: 25px;
    border: 1px solid lightgray;
    background-color: #fff;
    padding: 20px 10px;
    border-radius: 20px;
    box-shadow: -5px 15px 20px rgba(134, 129, 129, 0.7);
  }
  .contact-info {
    // display: flex;
    // justify-content: center;
    margin-top: 30px;
    ul {
      // border: 1px solid lightgray;
      // background-color: #fff;
      padding: 20px 0px;
      margin-bottom: 0;
      // border-radius: 20px;
      // box-shadow: -5px 15px 20px rgba(134, 129, 129, 0.7);
    }
    li:first-child {
      margin-left: 0;
    }
    li {
      display: inline;
      // align-items: baseline;
      list-style-type: none;
      margin: 0px 8px;
      margin-left: 2em;
      font-size: 24px;
    }
  }
}

li:hover {
  transform: translateY(-3px);
  color: red;
}

li:active {
  transform: translateY(-1px);
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  transform: translateY(-153px);
  color: red;
  letter-spacing: 0.1em;
}
a:active {
  transform: translateY(-1px);
}

.image {
  width: 30%;
  margin: 2em;
  border-radius: 25px;
}

iframe {
  margin: 10px;
  border-radius: 15px;
}
.icons-contact {
  margin-bottom: 8px;
  margin-right: 10px;
}
@media (max-width: 736px) {
  .wrapper-lsc {
    font-size: 15px;
    padding: 20px;
    align-items: end;
    .image {
      width: 100%;
      border-radius: 25px;
    }
    .contact-info li {
      display: flex;
      font-size: 22px;
      justify-content: end;
    }
    .icons-contact {
      margin-bottom: 0;
    }
    li:first-child {
      margin-left: 45px !important;
    }
  }
}
