.wrapper-lsc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 30px 0px;
  padding: 30px;
  background-color: lightgrey;

  h3 {
    font-size: 20px;
    line-height: 1.8em;
    letter-spacing: 0.2em;
  }
  img {
    display: inline-block;
    width: 35em;
    margin: 2em;
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    ul {
      display: flex;
      flex-direction: column;

      list-style-type: none;
      margin-top: 25px;

      li {
        padding: 5px;
      }
    }
  }
}
