.wrapper-lsc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 30px 0px;
  padding: 30px;
  background-color: lightgrey;

  #order1 {
    order: 1;
  }

  h3 {
    font-size: 20px;
    line-height: 1.8em;
    letter-spacing: 0.2em;
  }
  .image {
    width: 100%;
    margin: 2em;
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    margin-top: 25px;
  }
  .contact-info {
    display: flex;

    li {
      display: flex;
      align-items: center;
      list-style-type: none;
    }
  }
}

@media (max-width: 768px) {
  .wrapper-lsc {
    font-size: 15px;
    padding: 20px;
    align-items: end;
  }
}
