.wrapper-store {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 30px 0px;
  padding: 30px;
  background-color: lightgrey;
  border-radius: 20px;
}

#dwason {
  Button {
    width: 100%;
  }
}
#store-card {
  box-shadow: 1px 15px 20px rgba(134, 129, 129, 0.7);
  border-radius: 15px;
  .card-img-top {
    border-radius: 15px;
  }
}

#store-card:hover {
  box-shadow: 1px 5px 10px rgba(134, 129, 129, 0.9);
}
