.wrapper-form {
  display: flex;
  justify-content: space-between;
  margin: 25px 0px;
  background-color: lightgrey;
  & form {
    margin: 10px 0px;
    width: 100%;
    padding: 10px;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

h1 {
  text-align: center;
}
