.news-component-top {
  // height: 50vh;
  display: flex;
  justify-content: space-between;
  // margin: 50px 0px;

  .write-up {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 55%;
    margin: 10px;
    text-align: left;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;

    @keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    /* Firefox < 16 */
    @-moz-keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    /* Internet Explorer */
    @-ms-keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    /* Opera < 12.1 */
    @-o-keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  h1 {
    text-align: left;
  }
  .news-image-top {
    width: 40%;
    // height: 95%;
    margin: 10px 0px;
  }
}

@media (max-width: 768px) {
  .news-component-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // justify-content: space-between;
    // height: 50vh;
    // margin: 100px 0px;

    .write-up {
      display: flex;
      flex-wrap: wrap;
      margin: 10px;
      width: 95%;
      & h1,
      span {
        text-align: center;
      }
    }

    .news-image-top {
      width: 100%;
      // height: 95%;
      // margin: 50px 0px;
    }
  }
}
