@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes downArrow {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(25px);
  }
}
.down-arrow {
  transition: all 0.5s;
  width: 250px;
  height: 50px;
  animation: downArrow 2s infinite;
}

.down-arrow:hover {
}
.news-component-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .write-up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 55%;
    margin: 10px;
    text-align: left;
    animation: moveInRight 2s ease-out;
    backface-visibility: hidden;
  }

  h1 {
    text-align: left;
    animation: moveInRight 2s ease-out;
    backface-visibility: hidden;
  }

  .news-image-top {
    width: 40%;
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 75%,
      75% 75%,
      75% 100%,
      50% 75%,
      0% 75%
    );
    margin: 10px 0px;
  }
}

@media (max-width: 768px) {
  .news-component-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .write-up {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 50px 0px;
      width: 95%;
      & h1,
      span {
        text-align: center;
      }
    }

    .down-arrow {
      transition: all 0.5s;
      width: 250px;
      height: 50px;
      animation: downArrow 2s infinite;
    }
    .news-image-top {
      width: 100%;
    }
  }
}

@media (max-height: 450px) {
  .news-component-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .write-up {
      display: flex;
      flex-wrap: wrap;
      margin: 10px;
      width: 95%;
      & h1,
      span {
        text-align: center;
      }
    }

    .news-image-top {
      width: 100%;
    }
  }
}
