body {
  display: flex;
  flex-direction: column;
  padding: 30px;
  font-family: Helvetica, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  body {
    padding: 25px;
  }
}
