body {
  display: flex;
  flex-direction: column;

  font-family: Helvetica, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width: 768px) {
  body {
    padding: 25px;
  }
}
